<!doctype html>
<html>
    {% block content %}
    {% load static %}
    <head>
        <title>Toma de fotos en el navegador</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    </head>
    <body style="overflow-y: scroll;">
        <h1>Autenticación por reconocimiento facial</h1>
        {% if alert %}

        <div style="color: rgb(189, 19, 19); text-align: center;" role="alert">
            <h2> {{ alert }} </h2>
        </div>

        {% endif %}
        <div id="camera" class="camera" style="width: 640px; height: 480px;">
            <video id="video" style="width: 640px; height: 480px;">Video stream not available.</video>
        </div>

        <button id="startbutton">TOMAR FOTO</button>
        <canvas id="canvas">
        </canvas>
        <div>
            <img id="photo" alt="your image">
        </div>
        <form method="POST" name="inputForm" enctype='multipart/form-data'>
            {% csrf_token %}
            <input id="image_to_process" value="" name="image_to_process" type="text" style="display: none;">
            
            <input id="matricula" class="form-submit-button" value="" name="matricula" type="text" style="background-color: aqua; color: black;" placeholder="Escribe tu matrícula" required>


            <button type="submit" class="button form-submit-button" id="submit" style="display: none;">CONTINUAR</button>
        </form>
        <img src="{{ path }}" alt="The screen capture will appear in this box.">

    </body>
    {% endblock %}
<!-- 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form> -->
    
</html>


